*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* nav */
.navbar{
    background-color: rgb(33, 33, 33);
}
.nav-link{
    color: white;
    font-size: 20px;
    font-family: serif;
    margin-right: 30px;
}
.nav-link:hover{
    color: orange;
}
.navbar-brand{
    padding-left: 30px;
}
/* footer */
footer{
    background-color: rgb(33, 33, 33);
    font-size: small;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nav-link-footer{
    font-size: large;
}
.nav-link-footer:hover{
    color: orange;
    font-size: large;
}
.icono{
    padding-right: 15px;
}
body{
    color: white;
    background-color: rgb(23,32,42);
}
.container2{
    background-color: teal;
    color: white;
}
}



